<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="containerCat">
    <div>

        <ul class="listCat">
            <a href="/admin/editProdutos"><li>Editar produtos</li></a>
            <a href="/admin/addProdutos"><li>Adicionar produtos</li></a>
            <a href="/admin/deletProdutos"><li>Deletar produtos</li></a>
        </ul>
    </div>
</div>